<!--<h1>{{loginPageHeader}}</h1>-->
<div class="login-page">
    <div class="form">
        <form class="register-form" ng-submit="registerUser(user)">
            <div style="color:red">
                {{Message}}
            </div>
            <input type="text" placeholder="Email" ng-model="user.Email" required/>
            <input type="password" placeholder="Password" ng-model="user.Password" required/>
            <input type="password" placeholder="Confirm password" ng-model="user.ConfirmPassword" required/>
            <button type="submit">create</button>
            
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" ng-submit="login()">
            <div style="color:red" id="errorMessage">
                {{ErrorMessage}}
            </div>
            <input type="text" placeholder="Email" ng-model="account.username" required/>
            <input type="password" placeholder="Password" ng-model="account.password" required/>
            <button id="button" type="submit">login</button>

            <p class="message">Not registered? <a href="#">Create an account</a>
            </p>
        </form>
    </div>
</div>

<script>
    $.noConflict();
    jQuery('.message a').click(function () {
        jQuery('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });

    jQuery("#button").click(function () {
        
        jQuery("#errorMessage").addClass("errorMessage");
    });

</script>

